/* ПРИНУДИТЕЛЬНАЯ СВЕТЛАЯ ТЕМА */

:root.theme-light {
  /* Цветовая схема светлой темы */
  --bg-color: #FFF1F7;
  --page-bg-image: url("../images/cover-image-light.png");
  --accent-color: #353430;
  --hero-title-color: #FFC2E6;
  --text-color: #353430;

  /* Декоративные элементы */
  --heading-decor-color: #353430;
  --heading-decor-bg: #FF8DCB;
  --link-shadow-color: #FF8DCB;
  --hero-title-shadow-color: #FF8DCB;
  /* тень главного заголовка */
  --corners-color: #353430;

  /* Элементы меню переключения тем */
  --menu-button-color: var(--text-color);
  --menu-button-border-color: var(--text-color);
}